@import '_main.scss';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.masonry-container {
  columns: 300px;

  @media screen AND (max-width: 767.98px) {
    columns: 200px;
  }
}

.masonry-container>* {
  display: inline-block;
  break-inside: avoid;
}

.element-shadow {
  box-shadow: 1px 2px 4px var(--bs-dark);
}

.text-shadow {
  text-shadow: 1px 2px 4px var(--bs-dark);
}

.profile-thumbnail {
  height: 30px;
  border-radius: 50%;
  // outline: 1px solid black;
}

.transparent-btn-style {
  background-color: transparent;
  border: none;
}

.transparent-btn-style * {
  background-color: transparent;
  border: none;
}

.margin-left-auto {
  margin-left: auto;
}

.creator-buttons-pos {
  left: 77%;
}

.absolute-bottom {
  bottom: 0;
}

.outline-style {
  outline: 1px solid black;
}

.create-button {
  background-color: #2d2d2d;
}

.smoked-glass {
  background-color: rgba(43, 43, 43, 0.719);
  backdrop-filter: blur(4px);
}

.top-corner-radii {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.top-glass-height {
  height: 35px;
}

// NOTE Tentative focus highlight box-shadow to make tab-focusing more noticeable. Will continue to test.
*:focus {
  // outline: 2px solid blue;
  //   /* Add a custom outline */
  box-shadow: 0 0 50px rgba(0, 0, 255, 0.5);
  //   /* Add a subtle shadow */
}

.font-marko {
  font-family: marko;
  font-weight: 400;
}

.font-quando {
  font-family: quando;
  font-weight: 400;
}


@font-face {
  font-family: marko;
  src: url('../fonts/MarkoOne-Regular.ttf');
}

@font-face {
  font-family: quando;
  src: url('../fonts/Quando-Regular.ttf');
}